<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Vector Layer</title>
      <!-- Pointer events polyfill for old browsers, see https://caniuse.com/#feat=pointer -->
      <!-- <script src="https://unpkg.com/elm-pep"></script>     -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/css/ol.css" type="text/css">
      <style> #map { width: 100%; height:400px; } </style>
      <script type="application/ld+json">
      {
          "@context": {
              "json": "https://purl.org/geojson/vocab#",
              
          }
      }
      </script>
  </head>
  <body>
      
      <div id="info">&nbsp;</div>
      
       <scritpt></scritpt> 
      
    </body>
</html>